{% extends "base.html" %}

{% block title %}Sign Up - Rolsa Technologies{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Create Your Account</h1>
    
    <form action="{{ url_for('signup') }}" method="POST" class="signup-form">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
            <small style="color: var(--text-color); opacity: 0.8;">8+ chars, 1 uppercase, 1 number, 1 special character</small>
        </div>

        <div class="form-group">
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="confirm_email">Confirm Email:</label>
            <input type="email" id="confirm_email" name="confirm_email" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="surname">Surname:</label>
            <input type="text" id="surname" name="surname" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="dob">Date Of Birth:</label>
            <input type="date" id="dob" name="dob" class="form-control" required>
        </div>
        
        <button type="submit" class="btn btn-primary" style="width: 100%;">Sign Up</button>
        
        <div class="action-link" style="text-align: center; margin-top: 20px;">
            <p>Already have an account? <a href="{{ url_for('index') }}">Login here</a></p>
        </div>
    </form>
</div>
{% endblock %}